<!doctype html>
<html lang="zh_CN">

<head>
	<meta charset="UTF-8">
	<title>后台登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="__STATIC__/css/font.css">
	<link rel="stylesheet" href="__STATIC__/css/xadmin.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>

</head>

<body class="login-bg">

	<div class="login layui-anim layui-anim-up">
		<div class="message">管理登录</div>
		<div id="darkbannerwrap"></div>

		<form method="post" class="layui-form">
			<input id="username" name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
			<hr class="hr15">
			<input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
			<hr class="hr15">
			<div class="layui-input-inline">
				<input name="captcha" lay-verify="required" placeholder="验证码" type="text" class="layui-input">
			</div>
			<img src="{:captcha_src()}" id="img" onclick="reloadImg()">
			<hr class="hr15">
			<input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
			<hr class="hr20">
		</form>
	</div>

	<script>
		$(function () {
			layui.use('form', function () {
				var form = layui.form;
				// 用户名控件获取焦点
				$('#username').focus();
				// 回车登录
				$('input').keydown(function(e){
					if(e.keyCode == 13){
						dologin();
					}
				});
				//监听提交
				form.on('submit(login)', function (data) {
					$.post('/admin.php/Account/dologin', data.field, function (res) {
						if (res.code > 0) {
							reloadImg();
							layer.alert(res.msg, { icon: 2 });
						} else {
							layer.msg(res.msg);
							setTimeout(function () { window.location.href = '/admin.php/Home/index' }, 1000);
						}
					}, 'json');
					return false;
				});
			});
		})
		// 重新生成验证码
		function reloadImg(){
			$('#img').attr('src','{:captcha_src()}?rand=' + new Date().getTime());
		}


	</script>
	<!-- 底部结束 -->
</body>

</html>