<!DOCTYPE html>
<html lang="zh_CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="__LAYUI__/css/layui.css">
  <script src="__LAYUI__/layui.js"></script>
  <script src="__STATIC__/js/jquery.media.js"></script>
  <title>首页</title>
</head>

<body>
  <h1 class="layui-anim layui-anim-scale">首页</h1>
  <div class="content"></div>

  <script>
    $(function () {
      $('.content').media({
        width: 450,
        height: 350,
        autoplay: true,
        src: 'http://ycu.com/uploads/20200402/b72e6c3229822a4c4e16854934a067f2.html'
      });
    });
  </script>
</body>

</html>