<!DOCTYPE html>
<html class="x-admin-sm">

<head>
  {include file="public/head"}
</head>

<body>
  {include file="public/breadcrumb"}
  <div class="x-body">
    <table class="layui-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>类型</th>
          <th>URL</th>
          <th>添加时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {volist name="data" id='vo'}
        <tr>
          <td>{$vo.id}</td>
          <td>{$vo.type}</td>
          <td id="url">{$vo.url}</td>
          <td>{:date('Y-m-d H:i:s',$vo.add_time)}</td>
          <td>
            <button class="layui-btn layui-btn-danger layui-btn-xs" onclick="del({$vo.id})">删除</button>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
		layui.use(['layer'],function(){
			layer = layui.layer;
			$ = layui.jquery;
		});

		// 删除
		function del(id){
			layer.confirm('确定要删除吗？', {
			  icon:3,
			  btn: ['确定','取消']
			}, function(){
			  $.post('/admin.php/file/delete',{'id':id},function(res){
			  	if(res.code>0){
			  		layer.alert(res.msg,{icon:2});
			  	}else{
			  		layer.msg(res.msg);
			  		setTimeout(function(){window.location.reload();},1000);
			  	}
			  },'json');
			});
		}
	</script>
</body>

</html>