<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="__LAYUI__/css/layui.css">
<title>首页</title>
<style>

  .header {
    padding: 10px 0;
  }

  .header_title span {
    /* font-style: oblique; */
    display: inline-block;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 30%, rgba(255, 255, 255, .2));
  }

  .logo_img {
    width: 80px;
    margin: 20px 20px 20px 0;
  }

  .nav .layui-nav {
    display: flex;
    padding: 0;
  }

  .nav .layui-nav-item {
    flex: 1;
    text-align: center;
  }

  .layui-container {
    min-width: 1080px;
  }

  /* 底部 */
  .footer {
    padding: 20px 0;
  }

  .footer p {
    color: #F6F9FC;
    line-height: 24px;
    text-align: center;
  }

  .footer a {
    margin: 0 3px;
    color: #01AAED;
  }

  .footer a:hover {
    text-decoration: underline;
  }
</style>